:80 {
  route {
    handle_path /api/* {
      reverse_proxy chatjpt-api:8080 {
        flush_interval -1
      }
    }

    handle {
      encode zstd gzip
      try_files {path} /index.html
      file_server
    }
  }
}
